*,::after,::before{
    margin:2px 0 0 0;
    padding:0;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: #ECF1EF;
  }

a{
    text-decoration: none;
    color: black;
    font-family: "Roboto","Droid Sans", "Chilanka";
    font-size:15px;
}